RESEND_API_KEY=
QUOTE_EMAIL_FROM=
QUOTE_EMAIL_TO=request@translinkmovers.id
WHATSAPP_API_VERSION=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_NOTIFICATION_TO=6285128031767
WHATSAPP_QUOTE_TEMPLATE=
WHATSAPP_TEMPLATE_LANGUAGE=id
